<h3 matDialogTitle>{{ user?.name }}</h3>
<mat-dialog-content>
    <form [formGroup]="userDetailsForm">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="John Doe" formControlName="name" required>
            @if (name?.invalid && (name?.dirty || name?.touched)) {
                @if (name?.errors?.['required']) {
                    <mat-error>Name cannot be empty</mat-error>
                }
            }
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="john.doe@example.com" formControlName="email" type="email" required>
            @if (email?.invalid && (email?.dirty || email?.touched)) {
                @if (email?.errors?.['required']) {
                    <mat-error>Email cannot be empty</mat-error>
                } @else if (email?.errors?.['email']) {
                    <mat-error>Please check if the email is correct</mat-error>
                }
            }
        </mat-form-field>

        <mat-form-field>
            <mat-label>Role</mat-label>
            <mat-select formControlName="role">
                <mat-option value="admin">Admin</mat-option>
                <mat-option value="member">Member</mat-option>
                <mat-option value="guest">Guest</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="primary" (click)="saveUser()" [disabled]="userDetailsForm.invalid">Save</button>
    <button mat-button color="secondary" mat-dialog-close>Cancel</button>
</mat-dialog-actions>